body {
    background: #DEE8E0;
    color: #E84C34;
    font-family: 'LemonMilk', sans-serif;
    font-size: 2rem;
}

.center {
    padding: 5rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #406A69;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

.centered {
    text-align: center;
}

.large {
    font-size: 2em;
}

.flex {
    display: flex;
    /*justify-content: space-between;*/
    flex-direction: column;
    align-items: center;
}

.pb-1 {
    padding-bottom: 1em;
}

.pb-1-2 {
    padding-bottom: 0.5em;
}

label {
    color: #FA8973;
}

input {
    font-size: inherit;
    font-family: inherit;
    border: none;
    padding: 0.5em;
}

input[type="submit"] {
    background: #FA8973;
    color: #406A69;
}

input[type="text"] {
    color: #406A69;
    background-color: #FFFFFF;
    font-size: inherit;
    max-width: -webkit-fill-available;
}

#index {
    width: 13em;
}

#error {
    display: none;
    padding: 0.5em;
}

#final {
    display: none;
    text-align: center;
}

#countdown {
    display: none;
    width: 10em;
    height: 10em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#timer {
    text-align: center;
    color: #FA8973;
}

.verse {
    text-align: center;
    color: #FA8973;
}

#packinglist {
    font-family: 'LouisGeorgeCafe', sans-serif;
    font-size: 1.5rem;
}

#loader {
    border: 16px solid #FFFFFF; /* Light grey */
    border-top: 16px solid #FA8973;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.hide {
    display: none;
}

#packinglist-link a, a,
#packinglist-link a:active,
#packinglist-link a:focus,
#packinglist-link a:hover,
#packinglist-link a:visited {
    color: #FA8973;
    text-decoration: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



